page-home {
   
    $toolbar-md-title-text-color: #FFF;
    $toolbar-ios-title-text-color: #FFF;
    $toolbar-wp-title-text-color: #FFF;

/*ion-grid {
    height: 100%;
    justify-content: center;
}*/
}
